#wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 480px;
    border: 2px solid tomato;
    background: #424242;
}

#title {
    font-family: 'Belgrano', cursive;
    color: #69e65f;
    font-weight: bold;
    font-size: 34px;
    margin-left: 37%;
}

#data {
    color: white;
    font-size: 18px;
}

#data li {
    margin-top: 8px;
}

.run {
    cursor: pointer;
}

#menu {
    position: fixed;
    bottom: 180px;
    left: 135px;
    cursor: pointer;
}