#wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 480px;
    border: 2px solid tomato;
    background: #424242;
}

#title {
    font-family: 'Belgrano', cursive;
    color: #69e65f;
    font-weight: bold;
    font-size: 34px;
    margin-left: 37%;
}

#menu {
    position: fixed;
    bottom: 180px;
    left: 135px;
    cursor: pointer;
}

button {
    font-weight: bold;
    width: 250px;
    margin-left: 4%;
    margin-top: 45px;
}

input {
    margin-left: 4%;
    width: 250px;
}

#warnings {
    color: white;
    width: 70%;
    text-align: center;
    margin-top: 10px;
    margin-left: 46px;
}